<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgon.classmanager.mapper.StudentMapper">
    <!-- https://mybatis.org/mybatis-3/zh/sqlmap-xml.html -->
    <insert id="addStudent" parameterType="Student">
        <!-- 配置插入数据时，获取所插入记录的 id -->
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        <!-- 注意这里并对设置create_time, update_time，因为为它们在数据库端设置了自动填充行为 CURRENT_TIMESTAMP-->
        INSERT INTO student(account, password, name, sex, id_card, is_deleted)
        VALUES (#{account}, #{password}, #{name}, #{sex}, #{idCard}, #{isDeleted})
    </insert>

    <update id="editStudent" parameterType="Student">
        UPDATE student
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <!-- <if test="updateTime != null">update_time = #{updateTime},</if> -->
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="removeStudent" parameterType="Student">
        <if test="isDeleted == 1">
            UPDATE student
            SET is_deleted = #{isDeleted}
            WHERE id = #{id}
        </if>
    </delete>

    <!-- 不要使用 student.getAccount()，因为getAccount()是其从父类处继承的！
     account即使是私有属性，mybatis也会通过反射直接访问到。
        Java Column ‘xxx‘ in where clause is ambiguous问题解决：
        多个表都有role_id字段，但是没指定role_id是位于哪个表。
        解决办法：role_id前面加上表名。

        由于学生表和家长表等多个表都具有同名字段，为了在进行关联的嵌套结果映射时不会被混淆（混淆会产生错误的映射、错误的结果集），
        需要为每个表的字段设置别名，这就需要我们手动的列出每个涉及到的字段 或 仅仅是涉及到的同名字段(比如只有学生表有id_card字段，就无须再为该字段设置别名)
    -->
    <select id="queryStudent" resultMap="detailedStudentsResult">
        SELECT
        <include refid="detailedColumnsDivision">
            <property name="student" value="s"/>
            <!-- 这里的属性名可以使用下划线进行表示，如 stu_class，在访问时 ${stu_class} 正常访问！ -->
            <property name="stu_class" value="sc"/>
            <property name="classroom" value="c"/>
            <property name="stu_parent" value="sp"/>
            <property name="parent" value="p"/>
        </include>
        FROM student s
        LEFT OUTER JOIN stu_class sc ON sc.student_id = s.id
        LEFT OUTER JOIN classroom c ON c.id = sc.classroom_id
        LEFT OUTER JOIN stu_parent sp ON sp.student_id = s.id
        LEFT OUTER JOIN parent p ON p.id = sp.parent_id
        <trim prefix="WHERE" suffixOverrides="AND | OR">
            <if test="student != null">
                <!-- test="student != null and student.account != null" -->
                <if test="student.account != null">
                    s.account = #{student.account, jdbcType=VARCHAR} AND
                    <if test="student.name != null">s.name = #{student.name, jdbcType=VARCHAR}</if>
                </if>
            </if>
        </trim>
        LIMIT #{page.startIndex} , #{page.pageSize}
    </select>

    <!-- 不需要设置 ${stuclass}.id AS ${stuclass}_id，因为它在表关联查询中不起作用 -->
    <sql id="detailedColumnsDivision">
        ${student}.id AS ${student}_id,
        ${student}.account AS ${student}_account,
        ${student}.password AS ${student}_password,
        ${student}.name AS ${student}_name,
        ${student}.sex AS ${student}_sex,
        ${student}.id_card AS ${student}_id_card,
        ${student}.create_time AS ${student}_create_time,
        ${student}.update_time AS ${student}_update_time,
        ${student}.is_deleted AS ${student}_is_deleted,
        ${stu_class}.student_id AS ${stu_class}_student_id,
        ${stu_class}.classroom_id AS ${stu_class}_classroom_id,
        ${classroom}.id AS ${classroom}_id,
        ${classroom}.name AS ${classroom}_name,
        ${classroom}.year AS ${classroom}_year,
        ${classroom}.create_time AS ${classroom}_create_time,
        ${classroom}.update_time AS ${classroom}_update_time,
        ${classroom}.is_deleted AS ${classroom}_is_deleted,
        ${stu_parent}.student_id AS ${stu_parent}_student_id,
        ${stu_parent}.parent_id AS ${stu_parent}_parent_id,
        ${parent}.id AS ${parent}_id,
        ${parent}.account AS ${parent}_account,
        ${parent}.password AS ${parent}_password,
        ${parent}.name AS ${parent}_name,
        ${parent}.phone AS ${parent}_phone,
        ${parent}.sex AS ${parent}_sex,
        ${parent}.create_time AS ${parent}_create_time,
        ${parent}.update_time AS ${parent}_update_time,
        ${parent}.is_deleted AS ${parent}_is_deleted
    </sql>

    <!-- 自动识别为一个Student对象，或一个集合List<Student> -->
    <resultMap id="detailedStudentsResult" type="Student">
        <id property="id" column="s_id"/>
        <result property="account" column="s_account"/>
        <result property="password" column="s_password"/>
        <result property="name" column="s_name"/>
        <result property="sex" column="s_sex"/>
        <result property="idCard" column="s_id_card"/>
        <result property="createTime" column="s_create_time"/>
        <result property="updateTime" column="s_update_time"/>
        <result property="isDeleted" column="s_is_deleted"/>
        <!-- <association property="classroom" column="sc_classroom_id" javaType="Classroom" resultMap="classroomResult"/> -->
        <collection property="classrooms" column="sc_classroom_id" ofType="Classroom" resultMap="classroomsResult"/>
        <!-- 会自动识别为 List<Parent>, column是sp.parent_id 或 s_id：
                 LEFT OUTER JOIN stuparent sp ON sp.student_id = s.id
                 LEFT OUTER JOIN parents p ON p.id = sp.parent_id
            还要注意 Student对象中的List<Parent>类型的属性要有相应的getter和setter，mybatis填充时需要用到！
        -->
        <collection property="parents" column="sp.parent_id" ofType="Parent" resultMap="parentsResult"/>
    </resultMap>

    <resultMap id="classroomsResult" type="Classroom">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <result property="year" column="c_year"/>
        <result property="createTime" column="c_create_time"/>
        <result property="updateTime" column="c_update_time"/>
        <result property="isDeleted" column="c_is_deleted"/>
    </resultMap>

    <resultMap id="parentsResult" type="Parent">
        <id property="id" column="p_id"/>
        <result property="account" column="p_account"/>
        <result property="password" column="p_password"/>
        <result property="name" column="p_name"/>
        <result property="phone" column="p_phone"/>
        <result property="sex" column="p_sex"/>
        <result property="createTime" column="p_create_time"/>
        <result property="updateTime" column="p_update_time"/>
        <result property="isDeleted" column="p_is_deleted"/>
    </resultMap>

    <!--
    <update id="addStudentParent" parameterType="Student">
        <if test="#{0} != null and parents != null">
            UPDATE parents p
            SET student_id = #{id}
            WHERE p.id IN
            <foreach collection="parents" item="item" index="index" open="(" close=")" separator=",">
                #{item.id}
            </foreach>
        </if>
    </update>
    -->
    <insert id="addStudentParent" parameterType="Student">
        <!--
        <if test="#{0} != null and parents != null">
        </if>
        -->
        INSERT INTO stu_parent(student_id, parent_id)
        VALUES
        <foreach collection="parents" item="item" index="index" separator=",">
            (#{id}, #{item.id})
        </foreach>
    </insert>
</mapper>
