<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgon.classmanager.mapper.StudentMapper">
    <insert id="addStudent" parameterType="Student">
        <!-- 配置插入数据时，获取所插入记录的 id -->
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO students(account, password, name, sex, id_card, create_time, update_time, is_deleted)
        VALUES (#{account}, #{password}, #{name}, #{sex}, #{idCard}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>

    <update id="editStudent" parameterType="Student">
        UPDATE students
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="removeStudent" parameterType="Student">
        UPDATE students
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted == 1">is_deleted = #{isDeleted}</if>
        </trim>
        WHERE id = #{id}
    </delete>

    <select id="queryStudent" resultMap="studentResult">
        SELECT *
        FROM students s
                 JOIN stuclass sc ON s.id = sc.student_id
                 JOIN classroom c ON c.id = sc.classroom_id
                 JOIN parents p ON s.id = p.student_id
        WHERE s.account = #{student.account, jdbcType=VARCHAR}
          AND s.name = #{student.name, jdbcType=VARCHAR} LIMIT #{page.startIndex}
            , #{page.pageSize}
    </select>
    <!-- 不要使用 student.getAccount()，因为getAccount()是其从父类处继承的！
         account即使是私有属性，mybatis也会通过反射直接访问到。
        WHERE account = #{student.account, jdbcType=VARCHAR}
          AND name = #{student.name, jdbcType=VARCHAR} LIMIT #{page.startIndex}
            , #{page.pageSize}

            Java Column ‘xxx‘ in where clause is ambiguous问题解决：
            多个表都有role_id字段，但是没指定role_id是位于哪个表。
            解决办法：role_id前面加上表名。
    -->
    <resultMap id="studentResult" type="Student" autoMapping="true">
        <!-- 省略Student基本属性的映射，MyBatis设置自动进行映射：autoMapping="true" -->
        <association property="classroom" column="classroom_id" javaType="Classroom" resultMap="classroomResult"/>
        <!-- 会自动识别为 List<Parent> -->
        <collection property="parents" ofType="Parent" resultMap="parentsResult"/>
    </resultMap>

    <resultMap id="classroomResult" type="Classroom" autoMapping="true">
    </resultMap>

    <resultMap id="parentsResult" type="Parent" autoMapping="true">
    </resultMap>
</mapper>
